<!-- Pet Info Modal -->
<div class="modal fade" id="pet-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{currentPet.name}}</h4>
      </div>
      <div class="modal-body">
      	<div class="animal-creds">
					<carousel interval="myInterval">
					  <slide ng-repeat="image in currentPet.images track by $index">
					    <img ng-src="{{image}}" style="margin:auto;" alt="Pet Picture">
					  </slide>
					</carousel>
	        <ul>
	        	<li><strong>Animal: </strong>{{currentPet.animal}}</li>
	        	<li><strong>Age: </strong>{{currentPet.age}}</li>
	        	<li><strong>Sex: </strong>{{currentPet.sex}}</li>
	        	<li><strong>Status: </strong>{{currentPet.status}}</li>
	        	<li><strong>Size: </strong>{{currentPet.size}}</li>
	        	<li><strong>Breed: </strong>{{currentPet.breeds | beautifyBreeds}}</li>
	        	<li><strong>Mix: </strong>{{currentPet.mix}}</li>
	        </ul>
      	</div>
      	<p class="animal-description" ng-show="currentPet.description !== ''">{{currentPet.description}}</p>
      	<p ng-show="currentPet.contact !== ''"><strong>Contact: </strong>{{currentPet.contact}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Adopt Me</button>
      </div>
    </div>
  </div>
</div>