.petDisplay {
	margin-top: 20px;
}

/*==============================*/
/*Pet Modal*/
/*==============================*/
#pet-modal {
	border: 1px solid black;
}

.animal-creds > .carousel {
	float: left;
	width: 170px;
}

.animal-creds > ul {
	list-style: none;
	width: 63%;
  float: right;
  margin-left: 7%;
  border: 1px solid white;
  border-radius: 3px;
  background-color: aliceblue;
}

.animal-creds > ul li {
	margin: 5px 0%;
}

.modal-body > .animal-description {
	margin-top: 200px;
	border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(202, 250, 128, 0.64);
  padding: 10px;
}
/*==============================*/




/*==============================*/
/*Error Styles*/
/*==============================*/
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*==============================*/

/*==============================*/
/*Sign Modal*/
/*==============================*/
#user-modal form[name="signIn"] .btn.btn-primary,
#user-modal form[name="signUp"] .btn.btn-success,
#user-modal form[name="signIn"] label,
#user-modal form[name="signUp"] label
{
	margin-top: 10px;
}


/*==============================*/
