.petDisplay {
	margin-top: 20px;
}

/*==============================*/
/*Pet Modal*/
/*==============================*/
#pet-modal {
	border: 1px solid black;
}

.animal-creds > .carousel {
	float: left;
	width: 222px;
}

.animal-creds > ul {
	list-style: none;
  margin-left: 40%;
  height: 231px;
  border-radius: 5px;
  background-color: aliceblue;
  overflow: auto;
  box-shadow: 0px 2px 17px -3px rgb(119, 119, 119);
}

.animal-creds > ul li {
	margin: 5px 0%;
}

.modal-body > .animal-description {
  border-radius: 5px;
  background-color: rgba(202, 250, 128, 0.64);
  padding: 10px;
  box-shadow: 0px 2px 17px -3px rgb(119, 119, 119);
}

#pet-modal .modal-body .animal-creds img[alt="Pet Picture"] {
	height: 231px;
  width: 222px;
  border-radius: 3px;
}

.petDisplay img {
  height: 180px;
  width: 170px;
}
/*==============================*/




/*==============================*/
/*Error Styles*/
/*==============================*/
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*==============================*/



/*==============================*/
/*Sign Modal*/
/*==============================*/
#user-modal form[name="signIn"] .btn.btn-primary,
#user-modal form[name="signUp"] .btn.btn-success,
#user-modal form[name="signIn"] label,
#user-modal form[name="signUp"] label
{
	margin-top: 10px;
}

.glyphicon.glyphicon-user {
	margin-right: 3px;
}

/*==============================*/



/*==============================*/
/*Search*/
/*==============================*/

form[name="petSearch"] .form-group ul {
  list-style: none;
  padding: 10px 16px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  position: absolute;
  top: 33px;
}

form[name="petSearch"] .placeholder {
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 6px 0px;
  width: 80px;
  text-align: center;
}

.placeholder:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

.placeholder:focus {
  border-color: blue;
}

form[name="petSearch"] .form-group {
  margin: 0px 5px;
}

form[name="petSearch"] button[type="submit"] {
  margin-left: 24px;
  width: 130px;
}

.glyphicon.glyphicon-triangle-bottom {
  font-size: 10px;
}

/*==============================*/