<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>

    <session-factory>
        <!-- main config -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost/petfinder</property>
        <property name="connection.username">petfinder-client</property>
        <property name="connection.password">nexient</property>

        <!-- resource/class config -->
        <mapping resource="user.hbm.xml"/>
    </session-factory>

</hibernate-configuration>